	div{
			margin-top:100px;
			margin-left:300px;
		}
		select{
			background:white;
			border:1px solid black;
		}
		p{
			display:inline-block;
			padding-right:145px;
		}
		input{
			border:3px groove;

		}
		.head{
			font-size:30px;
		}
		table,th,td{
			border:1px solid lightgray;
			border-collapse:collapse;
			text-align:left;
		}
		img{
			width:10px;
			height:10px;
		}
		.edit{
			width:20px;
			height:20px;
			padding-bottom:5px;
		}
		.blue{
			width:30px;
			height:30px;
		}
		.circle{
			border-radius:50%;
			width:25px;
			height:25px;
		}
		button{
			border:none;
			height:25px;
		}
		.page{
			margin-left:200px;
		}
		.sl{
			width:30px;
		}
		.name{
			width:160px;
		}
		.add{
			width:180px;
		}
		.city{
			width:90px;
		}
		.pin{
			width:90px;
		}
		.con{
			width:100px;
		}
		.act{
			width:100px;
		}
		.circle1{
			border-radius:50%;
			width:25px;
			height:25px;
			background:deepskyblue;
		}