	body{
			background:#f0f0f2;
		}
		.main{
			width:650px;
			height:250px;
			background:#fdfdff;
			border-radius:8px;
			margin-top:80px;
			margin-left:450px;
		}
		h1{
			font-family:sans-serif;
			padding-top:60px;
			padding-left:30px;
		}
		p{
			font-family:sans-serif;
			padding-left:30px;
			padding-right:50px;
			font-size:15px;
			color:#2e3e3b;
			line-height:1.5;
		}
		a{
		color:#38488f;
		text-decoration:none;
		}