	body{
			background:gray;
		}
		.main{
			margin-left:300px;
			margin-right:300px;
		}
		.button{
			display:inline-block;
			border-radius:50%;
			width:8px;
			height:8px;
			background:red;
			margin-top:8px;
		}
		.button1{
		    display:inline-block;
			border-radius:50%;
			width:8px;
			height:8px;
			background:yellow;
		}
		.button2{
		    display:inline-block;
			border-radius:50%;
			width:8px;
			height:8px;
			background:#17b18b;
		}
		.head{
			height:25px;
			padding-left:10px;
			background:white;
			margin-top:30px;
			border-radius:3px;
		}
		.major{
			background:black;
			float:left;
			width:62%;
			height:600px;
			border-radius:3px;
		}
		.minor{
			float:right;
			background:#17b18b;
			width:38%;
			height:600px;
			border-radius:3px;
		}
		img{
			margin-top:50px;
			margin-left:50px;
			width:80px;
			height:25px;
		}
		.title{
			font-family:sans-serif;
			color:white;
			font-size:30px;
			margin-left:50px;
			margin-top:100px;
		}
		.reg{
			color:gray;
			font-family:sans-serif;
			margin-left:50px;
			margin-top:-25px;
			font-size:20px;
		}
		p{
			margin-top:10px;
			color:gray;
			margin-left:50px;
			margin-right:50px;
		}
		button{
			font-family:sans-serif;
			border-radius:3px;
			width:150px;
			height:30px;
			margin-left:50px;
			background:#17b18b;
			color:white;
			font-size:12px;
			font-weight:bold;
			border:none;
			margin-top:10px;
			cursor:pointer;
		}
		select{
			border:0px;
			background:transparent;
			color:gray;
			font-size:10px;
			margin-left:50px;
			margin-top:100px;

		}
		.new{
			padding-left:20px;
			color:gray;
			font-size:10px;
			text-decoration:none;
		}
		.right{
			font-family:sans-serif;
			color:white;
			font-size:20px;
			margin-top:210px;
		}
		input{
			background:transparent;
			color:#f0f8f6;
			border-width:0 0 2px 0;
			margin-left:52px;
			width:250px;
			padding:10px;
		}
		.login{
			font-family:sans-serif;
			border-radius:3px;
			width:80px;
			height:30px;
			color:#17b18b;
			background:white;
		}
		.forgot{
			text-decoration:none;
			color:#f0f8f6;
			font-size:13px;
			padding-left:10px;
		}